.ft-copyright {
	color: #fff;
	line-height: 24px
}

.moreSelect {
	width: 100%;
	margin: 30px 0 20px;
	overflow: hidden
}

.ms-top {
	height: 2pc;
	border-bottom: 1px solid #eaeaea;
	font-size: 14px
}

#tab li a {
	float: left;
	height: 2pc;
	cursor: pointer;
	line-height: 2pc;
	list-style-type: none;
	padding: 0 15px
}

#tab li.cur a {
	color: #fff;
	background: #f77825
}

.bd {
	display: none
}

.bd-news ul {
	padding: 10px 0 0 10px;
	background: url(../images/ph2.png) no-repeat 10px 29px
}

.bd-news ul li {
	border-bottom: 1px solid #eaeaea;
	line-height: 30px;
	height: 30px;
	overflow: hidden;
	font-size: 14px;
	padding: 10px 0 0 30px
}

.bd-news ul li a {
	display: block
}

.bd-news ul li a:hover {
	color: #000
}

.bd-news ul li:hover {
	border-bottom: 1px solid #000
}

.banner {
	height: 280px;
	width: 100%;
	overflow: hidden
}

#slide-runner {
	height: 300px;
	width: 50%;
	overflow: hidden
}

#slide-controls, #slide-holder img, #slide-runner {
	position: absolute
}

#slide-controls {
	left: 0;
	bottom: 0;
	width: 100%;
	height: 34px;
	display: none;
	background: url(../images/slide-bg.png) 0 0
}

#slide-controls p.text {
	float: left;
	color: #fff;
	display: inline;
	line-height: 1pc;
	margin: 10px 0 0 20px
}

#slide-controls p#slide-nav {
	float: right;
	height: 24px;
	display: inline;
	margin: 5px 0 0
}

#slide-controls p#slide-nav a {
	float: left;
	width: 24px;
	height: 24px;
	display: inline;
	font-size: 11px;
	margin: 0 5px 0 0;
	line-height: 24px;
	text-align: center;
	color: #fff
}

#slide-controls p#slide-nav a.on {
	background-position: 0 -24px
}

#slide-controls p#slide-nav a {
	background-image: url(../images/silde-nav.png)
}

.topnews {
	margin: 20px 0
}

.topnews h2 {
	font-size: 1pc;
	font-weight: 700;
	line-height: 36px;
	color: #333;
	border-bottom: 4px solid #db6d4c
}

.topnews h2 span {
	float: right;
	font-size: 9pt;
	font-weight: 400
}

.topnews h2 span a {
	display: inline-block;
	padding: 0 5px
}

.topnews h2 span a:hover {
	color: #000
}

.blogs {
	padding: 30px 0;
	position: relative;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
	width:90%;
}

.blogs h3 {
	font-size: 1pc;
	font-weight: 700;
	transition: all .5s;
	margin-bottom: 10px
}

.blogs h3 a {
	color: #474645
}

.blogs h3 a:hover {
	color: #066;
	text-decoration: underline
}

.blogs figure {
	float: left;
	width: 25%;
	overflow: hidden
}

.blogs figure img {
	width: 100%;
	margin: auto;
	-webkit-transition: all .5s;
	transition: all .5s
}

.blogs figure:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1)
}

.blogs ul {
	float: right;
	line-height: 22px;
	width: 72%;
	color: #756f71
}

.autor {
	overflow: hidden;
	clear: both;
	margin: 10px 0;
	display: inline-block;
	color: #838383;
	width: 100%
}

.autor span {
	margin: 0 10px 0 0;
	padding-left: 20px
}

.autor span a {
	color: #759b08
}

.autor span a:hover {
	text-decoration: underline
}

.lm {
	background: url(../images/newsbg01.png) no-repeat left center
}

.dtime {
	background: url(../images/newsbg02.png) no-repeat left center
}

.tit01 {
	padding-top: 45px;
}

.tit01 h3 {
	line-height: 40px;
	color: #38485a;
	font-size: 18px;
	border-bottom: 1px solid #e6e6e6;
	height: 40px
}

.gzwm ul {
	width: 100%;
	margin: 30px 0;
	overflow: hidden
}

.gzwm li {
	margin: 0 18px 0 5px
}

.gzwm li, .gzwm li a {
	width: 52px;
	float: left
}

.gzwm li a {
	color: #747f8c;
	text-align: center;
	padding-top: 60px
}

.gzwm .rss {
	background: url(../images/ico_04_1.jpg) no-repeat scroll 0 0 transparent
}

.gzwm .rss:hover {
	color: #000;
	background: url(../images/ico_04.png) no-repeat scroll 0 0 transparent
}

.gzwm .xlwb {
	background: url(../images/ico_05_1.jpg) no-repeat scroll 0 0 transparent
}

.gzwm .xlwb:hover {
	color: #000;
	background: url(../images/ico_05.png) no-repeat scroll 0 0 transparent
}

.gzwm .txwb {
	background: url(../images/ico_06_1.jpg) no-repeat scroll 0 0 transparent
}

.gzwm .txwb:hover {
	color: #000;
	background: url(../images/ico_06.png) no-repeat scroll 0 0 transparent
}

.gzwm .wx {
	background: url(../images/ico_07_1.jpg) no-repeat scroll 0 0 transparent
}

.gzwm .wx:hover {
	color: #000;
	background: url(../images/ico_07.png) no-repeat scroll 0 0 transparent
}

.tuwen {
	width: 100%;
	clear: both;
	overflow: hidden;
	margin: 20px 0
}

.tuwen h3 {
	line-height: 40px;
	color: #38485a;
	font-size: 18px;
	border-bottom: 1px solid #e6e6e6;
	height: 40px;
	margin-bottom: 30px
}

.tuwen li {
	overflow: hidden;
	clear: both;
	margin-bottom: 10px
}

.tuwen li img {
	width: 70px;
	height: 70px;
	float: left;
	margin-right: 15px
}

.tuwen li b {
	overflow: hidden;
	width: 100%;
	font-weight: 400;
	color: #333;
	font-size: 14px;
	line-height: 30px
}

.tuwen li a b:hover {
	text-decoration: underline;
	color: #f60
}

.tuwen li span {
	color: #999;
	margin-right: 10px
}

.tuwen p {
	margin-top: 5px
}

.tulanmu {
	background: url(../images/lanmbq.png) no-repeat center left;
	padding-left: 17px
}

.tulanmu a {
	color: #999
}

.tulanmu a:hover {
	color: #066
}

.tutime {
	background: url(../images/datepng.png) no-repeat left center;
	padding-left: 15px
}

.tuwen li:hover {
	background: #f4f3f3
}

.bloglist {
	text-align: center;
	font-size: 16px;
}

form {
	position: relative;
	width: 228px;
	margin-right: 50%;
}

input, button {
	border: none;
	outline: none;
}

.bar {
	float:right;
	margin-right:35px;
}

.bar input {
	border: 2px solid #48AE15;
	border-radius: 5px;
	background: transparent;
	top: 0;
	right: 0;
	width: 100%;
	height: 40px;
	padding-left: 13px;
}

.bar button {
	background: #48AE15;
	border-radius: 0 5px 5px 0;
	width: 60px;
	top: 0;
	left: 184px;
	height: 42px;
	cursor: pointer;
	position: absolute;
}

.bar button:before {
	content: "搜索";
	font-size: 13px;
	color: #F9F0DA;
}